{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": ["airbnb", "plugin:prettier/recommended", "prettier/react"],
  "settings": {
    "import/parser": "babel-eslint",
    "import/resolver": {
      "webpack": {
        "config": {
          "resolve": {
            "alias": {
              "tailwind-react": "@eddm/tailwind-react"
            }
          }
        }
      }
    }
  }
}
